.stApp{
    margin: 0;
    padding: 0;
    background-image: url("https://source.unsplash.com/1600x900/?gmail");
    background-size: cover;
    background-position: center;
    height: 100vh; /* 100% of the viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
}
.st-emotion-cache-k7vsyb span{
    color: aqua;
    background-color: black;
    opacity: 0.7;

}

.st-emotion-cache-1yril67 p{
    color: aqua;
    background-color: black;
    opacity: 0.7;
}

.st-c0{
    color: aqua !important;
    font-weight: bold !important;
}
.st-af{
    opacity: 0.7;
}
/* .appview-container{
     background-color: blue;
} */
